<html>

<head>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
</head>


<body>
<div id="container" style="width:100%;">

    <div id="left" style="float:left; width:50%;">
        <div class='pane1'>
            <h1>Categories</h1>
            {% with messages = get_flashed_messages() %}
            {% if messages %}

            <ul>
                {% for message in messages %}
                <li><strong> {{ message }} </strong></li>
                {% endfor %}
            </ul>
            {% endif %}
            {% endwith %}

            <a href="{{url_for('newCategory')}}"><h3> Create a New Category </h3></a>

            {% for category in categories %}


            <p>{{category.name}}</p>
            <u><a href="{{url_for('showItem', category_id = category.id)}}"><p>Show Item</p></a></u>
            <p><a href="{{url_for('editCategory',category_id = category.id)}}">Edit Category</a></p>
            <p><a href="{{url_for('deleteCategory',category_id = category.id)}}">Delete Category</a></p>


            {% endfor %}

        </div>
    </div>
    <div id="right" style="float:right; width:50%;">
        <div class='pane2'>
            <h1>Latest Items</h1>

        </div>
    </div>
    <div>
        <h2><b><a href="{{url_for('gdisconnect')}}">Logout</a></b></h2>
        <h2><b><a href="{{url_for('showLogin')}}">Login</a></b></h2>

    </div>
</div>
</body>

</html>
